.item {
  display: grid;
  grid-template-rows: 151px 59px 20px;
}

.item__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item__panel {
  margin-bottom: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.item__title {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.item__button-like {
  width: 24px;
  height: 24px;
  border-radius: 36px;
  border: none;
  background: url('../../images/like.svg') no-repeat center #f9f9f9;
  transition: 0.5s;
}

.item__button-like:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.item__button-like_active {
  background-image: url('../../images/like_active.svg');
}

.item__button-delete {
  opacity: 0;
  width: 24px;
  height: 24px;
  border-radius: 36px;
  border: none;
  background: url('../../images/close.svg') no-repeat center/20px #f9f9f9;
  transition: 0.5s;
}

.item__button-delete:hover {
  opacity: 1;
}

.item__duration {
  padding-top: 6px;
  border-top: 1px solid #e8e8e8;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #a0a0a0;
}

@media screen and (max-width: 984px) {
  .item {
    grid-template-rows: 190px 59px 19px;
  }

  .item__panel {
    margin-bottom: 29px;
    padding-top: 14px;
  }
}

@media screen and (max-width: 568px) {
  .item {
    grid-template-rows: 168px 59px 19px;
  }

  .item__panel {
    margin-bottom: 29px;
    padding-top: 14px;
  }
}
