.movies__cards {
  display: flex;
  padding: 70px 70px 10px;
}

.movies__btn-container {
  padding: 50px 70px 80px;
}

.movies__btn {
  padding: 11px 0 9px;
  width: 100%;
  background: #f9f9f9;
  border: none;
  border-radius: 6px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: 0.5s;
}

.movies__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .movies__cards {
    padding: 70px 30px 10px;
  }

  .movies__btn-container {
    padding: 50px 30px 80px;
  }
}

@media screen and (max-width: 568px) {
  .movies__cards {
    padding: 40px 10px 10px;
  }

  .movies__btn-container {
    padding: 50px 10px 80px;
  }
}
