.not-found {
  box-sizing: border-box;
  padding: 246px 0 60px;
}

.not-found__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__title {
  margin: 0 0 5px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 140px;
}

.not-found__subtitle {
  margin: 0 0 184px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
}

.not-found__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  color: #3456f3;
  text-decoration: none;
}
