.auth-form {
  display: flex;
  padding: 70px 0;
  justify-content: center;
}

.auth-form__container {
  display: flex;
  flex-direction: column;
}

.auth-form__title {
  margin: 40px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
}

.auth-form__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.auth-form__input {
  background: #f9f9f9;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
}

.auth-form__button {
  margin-bottom: 16px;
  width: 396px;
  height: 45px;
  background: #3456f3;
  border-radius: 3px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
}

.auth-form__link-block {
  display: flex;
  justify-content: center;
  gap: 6px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth-form__text {
  margin: 0;
  color: #a0a0a0;
}

.auth-form__link {
  color: #3456f3;
  text-decoration: none;
}
