.header {
  width: 100%;
}

.header_theme_dark {
  background-color: #073042;
}

.header__wrapper {
  box-sizing: border-box;
  padding: 18px 70px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 984px) {
  .header__wrapper {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 568px) {
  .header__wrapper {
    padding: 18px 14px;
  }
  .header__links {
    gap: 14px;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
}

.header__link_type_button {
  padding: 8px 20px;
  background-color: #2be080;
  color: #000;
  border-radius: 3px;
}

.header__movies-links {
  display: flex;
  list-style: none;
  gap: 16px;
  padding-left: 44px;
}

.header__movies-link {
  text-decoration: none;
  color: #000;
}

.header__profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.header__profile-icon {
  width: 26px;
  height: 30px;
  margin-left: 14px;
  background: url('../../images/profile-icon.svg') no-repeat #f9f9f9 center/14px
    12px;
  border-radius: 4px;
}

.header__links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__burger-btn {
  display: none;
  width: 44px;
  height: 44px;
  background: url('../../images/burger-btn-icon.svg') center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .header__burger-btn {
    display: block;
  }
  .header__links-container {
    display: none;
  }
}
